@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  body {
    @apply bg-slate-900
  }
}

.btn {
  @apply font-bold py-1 px-2 rounded;
}
.btn-slate {
  @apply bg-slate-500 text-white;
}
.btn-slate:hover {
  @apply bg-slate-700;
}
