@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  /* hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* show styled scrollbar */
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-700 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-400 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-200;
  }

  /* reserve space for the scrollbar */
  .scrollbar-gutter {
    scrollbar-gutter: stable both-edges;
  }
}

@layer base {
  body {
    @apply text-slate-200 bg-slate-900 text-xs lg:text-base;
  }
}

.btn {
  @apply font-bold py-1 px-2 disabled:opacity-50 disabled:pointer-events-none;
}
.btn-r {
  @apply rounded-r-full;
}
.btn-l {
  @apply rounded-l-full;
}
.btn-slate {
  @apply bg-slate-500 text-white;
}
.btn-slate:hover {
  @apply bg-slate-700;
}

.btn-responsive {
  @apply lg:text-base md:text-xs sm:text-xs text-[0px];
}

.checkbox {
  @apply focus:ring-offset-0;
}

.initial {
  font-size: initial;
}

.text-xxs {
  font-size: 0.625rem;
  line-height: 0.75rem;
}
